$gridBgc: rgb(0, 12, 119);
$paddingAndGap: 10px;
$gridItemBgc: rgba(110, 184, 253, 0.8);
$borderStyle: 5px inset rgb(64, 230, 202);
$font: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
$fontSize: 40px;
$alignment: center;
$backgroundColor: rgb(165, 194, 219);
//variable page, these I referenced in my scss documents
